<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.nickpakhomov.hotel_viewer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.github.nickpakhomov.hotel_viewer.HotelViewer"
        android:theme="@style/AppTheme">

        <provider
            android:name=".provider.generated.HotelProvider"
            android:authorities="com.github.nickpakhomov.hotel_viewer.provider.provider"
            android:exported="false" />

        <activity android:name="com.github.nickpakhomov.hotel_viewer.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.github.nickpakhomov.hotel_viewer.ui.activities.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.nickpakhomov.hotel_viewer.ui.activities.MainActivity" />
        </activity>

        <activity android:name="com.github.nickpakhomov.hotel_viewer.ui.activities.PreferenceActivity"
                  android:parentActivityName="com.github.nickpakhomov.hotel_viewer.ui.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.nickpakhomov.hotel_viewer.ui.activities.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCxGF2QJKM6wTiTQMOT05EzDKelHBhvIW0"/>
    </application>

</manifest>